.docsify-copy-code-button {
  background: #ccc;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  transition: all 0.25s ease;
  opacity: 0;
}

.docsify-copy-code-button::after {
  content: "Copied!";
  position: absolute;
  right: 100%;
  top: 0;
  background: #ccc;
  color: #fff;
  padding: 5px;
  margin: 5px 10px 0;
  font-size: 11px;
  z-index: 0;
  transition: all 0.25s ease;
  transform: translateX(120%) scale(0);
  border-radius: 3px;
}

.docsify-copy-code-button.success::after {
  transform: translateX(0) scale(1);
}

pre[v-pre]:hover .docsify-copy-code-button {
  opacity: 1;
}
