.docsify-copy-code-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #ccc;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease;
}

.docsify-copy-code-button::after {
    content: "Copied!";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 100%;
    margin: 5px 10px 0;
    padding: 5px;
    border-radius: 3px;
    background: #ccc;
    color: #fff;
    font-size: 11px;
    transition: all 0.25s ease;
    transform: translateX(120%) scale(0);
}

.docsify-copy-code-button.success::after {
    transform: translateX(0) scale(1);
}

.docsify-copy-code-button:focus,
pre[v-pre]:hover .docsify-copy-code-button {
    opacity: 1;
}
